<!-- Validation failure messages -->
<% if @event.errors.any? %>
<% @event.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Event</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= Date.today %>">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value=" 20:30:00 UTC">
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

      <%= select_tag(:venue_id, options_from_collection_for_select(Venue.order("name ASC"), :id, :name, @event.venue_id), :class => "form-control") %>
    </div>

    <!-- Label and input for creator_id -->
    <input type="hidden" name="creator_id"  value="<%= current_user.id%>">

    <div class="form-group">
      <label for="title" class="control-label">
        Title
      </label>
      <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @event.title %>">
    </div>

    <button class="btn btn-success">
      Create Event
    </button>
    or
    <a href="/events">Cancel</a>
  </form>
</div>
</div>
