<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @event.title %></dd>
    </dd>
    <dt>Creator</dt>

    <dd>  <%= User.find_by(:id => @event.creator_id).first_name %> <%= User.find_by(:id => @event.creator_id).last_name %></dd>

    <dt>Date</dt>
    <dd><%= @event.date %></dd>

    <dt>Time</dt>
    <dd><%= @event.time.to_s.gsub("2000-01-01","")%></dd>
    <!-- <dd><%= @time %></dd> -->

    <dt>Venue</dt>
    <!-- <dd><%= @event.venue_id %></dd> -->
    <dd><a href="/venues/<%=@event.venue_id%>">
      <%= Venue.find_by(:id => @event.venue_id).name %></a></dd>

      <dt>Guests List</dt>
      <ul>

        <% Guest.where(:event_id => @event.id).each do |guest| %>

      <dd>  <li><%= User.find_by(:id => guest.user_id).first_name  %></li>
        <% end  %></li><dd>

      </ul>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <% if current_user !=nil %>
      <% if current_user.id == @event.creator_id %>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

      <% end %>
      <% end %>
    </div>
  </div>
</div>
