<div class="page-header">
  <h1><%= @venue.name %></h1>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Area</dt>
      <dd><%= @venue.address %></dd>

      <dt>Cuisine</dt>
      <dd><a href="/cuisines/<%=@venue.cuisine%>">
        <%= Cuisine.find_by(:id => @venue.cuisine).cuisine_name %>

      </a></dd>


      <dt>Average price</dt>
      <!-- <dd><%= @venue.average_price %></dd> -->
      <dd><a href="/prices/<%=@venue.average_price%>">
        <%= Price.find_by(:id => @venue.average_price).range %>
        <dt>Website</dt>
        <a href="<%= @venue.website %>">
          <dd><%= @venue.website %></dd></a>

        </dl>

        <div class="btn-group btn-group-justified">
          <a href="/venues" class="btn btn-primary">
            Back
          </a>
          <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </div>
      </div>
    </div>
    <ul>
      <% Event.where(:venue_id => @venue.id).each do |event| %>
      <li><a href="/events/<%=event.id%>"><%= event.date %> <%= event.title %></a> </li>
      <% end %>

    </ul>
    <div class="page-header">
      <h4>
        New Event

      </h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action="/create_event" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for date -->
          <div class="form-group">
            <label for="date" class="control-label">
              Date
            </label>

            <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= Date.today %>">
          </div>

          <!-- Label and input for time -->
          <div class="form-group">
            <label for="time" class="control-label">
              Time
            </label>

            <input type="text" id="time" name="time" placeholder="Time" class="form-control" value=" 20:30:00 UTC">
          </div>

          <!-- Label and input for venue_id -->
          <div class="form-group">
            <label for="venue_id" class="control-label">
              Venue
            </label>

            <!-- <input type="text" id="venue_id" name="venue_id" placeholder="Venue" class="form-control" value="<%= @event.venue_id %>">
          </div> -->
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @event.venue_id), :class => "form-control") %>
        </div>

        <!-- Label and input for creator_id -->
        <input type="hidden" name="creator_id"  value="<%= current_user.id%>">

        <div class="form-group">
          <label for="title" class="control-label">
            Title
          </label>
          <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @event.title %>">
        </div>

        <button class="btn btn-success">
          Create Event
        </button>
        or
        <a href="/events">Cancel</a>
      </form>
    </div>
    </div>
