<div class="page-header">
  <h1>
    My  Events
    <a href="/events/new" class="btn btn-lg btn-success">New Event</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Title</th>
        <th>Time</th>
        <th>Venue</th>

      </tr>

      <% @my_events.each do |myevent| %>
      <tr>



        <td><a href="/events/<%=myevent.event_id%>"><%= myevent.event.title %></a></td>
        <td><%= myevent.event.date %></td>
        <td><a href="/venues/<%=myevent.event.venue_id%>">
          <%= Venue.find_by(:id => myevent.event.venue_id).name %></a></td>



      </tr>

      <% end %>
    </table>
  </div>
</div>
