<!-- Validation failure messages -->
<% if @price.errors.any? %>
  <% @price.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Price #<%= @price.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_price/<%= @price.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for range -->
      <div class="form-group">
        <label for="range" class="control-label">
          Range
        </label>

        <textarea id="range" name="range" placeholder="Range" class="form-control" rows="3"><%= @price.range %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Price
      </button>
      or
      <a href="/prices/<%= @price.id %>">Cancel</a>
    </form>
  </div>
</div>
